body{
	margin: 0px;
	padding: 0;
	height: 100%;
	font-family: sans-serif;
	background: #eee;

}
.admin{
	background: coral;
}
.admin:hover a {
	background: white;
	color: coral;
}
.admin:hover {
	background: white;
	color: coral;
}
.admin a:hover{
	color: coral;
}
.exam{
	background: coral;
}
.exam:hover a {
	background: white;
	color: coral;
}
.exam:hover {
	background: white;
	color: coral;
}
.exam a:hover{
	color: coral;
}

.layout{
position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	height: 655px;
    width: 1337px;
	box-sizing: border-box;
	box-shadow: 0 5px 10px black;
}
.actives{
	background: #e91e63;
}
nav
{
	position: fixed;
    top: 0;
	width: 100%;
	background-color: #00316b;
}
ul
{
	width: 80%;
	margin: 0 auto;
	padding: 0;
}
ul li 
{
	list-style: none;
	display: inline-block;
	padding: 20px;
}

ul li:hover
{
	background:#e91e63;
}
ul li a {
	color: #fff;
	text-decoration:none;
}
.toggle
{
	width:100%;
	padding: 10px 20px;
	background:#001f44;
	text-align: right;
	box-sizing: border-box;
	color: #fff;
	font-size: 30px;
	display: none;
}

@media (max-width:768px){
	.toggle{
		display: block;
	}
	ul{
	width: 100%;
	display: none;
}
ul li {
	display: block;
	text-align: center;
}
.active{
	display: block;
}
.cp-logo{
	display: none;

}
.cp-logo-sm{
	height: 33px;
    float: left;
}
}
footer[class='showfoot']
{
	width: 100%;
	bottom: 0px;
	position: fixed;
	background-color: #00316b;
	color: white;
	display: inline-block;
	height: 50px;

}

.flt{
	float: right;
	height: 50px;
	display: inline-block;


}

.flt p{
	float: left;
	padding: 0px 10px 0px 20px;
	text-transform: uppercase;
}
.img-style{
	height: 24px;
	background: white;
	border-radius:20px ;
}
.cp-logo{
	z-index: -1;
	height: 50px;
	float: left;
	padding: 5px 0px 0px 30px;

}
.login{
	float: right;
	display: inline;

}
.btn{
	padding: 10px;
}